@import "common.scss";
@import "font.scss";
@import "widget/mui.scss";
@import "widget/picker.scss";




[data-type="year"] [data-id="picker-i"],[data-type="year"] [data-id="title-i"],
[data-type="year"] [data-id="picker-m"],[data-type="year"] [data-id="title-m"],
[data-type="year"] [data-id="picker-d"],[data-type="year"] [data-id="title-d"],
[data-type="year"] [data-id="picker-h"],[data-type="year"] [data-id="title-h"]
 {
    display: none;
}

[data-type="year"] .mui-picker,
[data-type="year"] .mui-dtpicker-title h5 {
    width: 100%;
}



.mine_wrap{
	width: 100%;
    padding:.9rem 0 1.18rem;
    min-height: 100%;
}
.mine_wrap02{
    width: 100%;
    padding:.9rem 0 0rem;
    min-height: 100%;
}
.top_tab{
	width: 100%;
	height: .98rem;
	background: #0093dd;
	ul{
    	width: 100%;
    	height: .98rem;
    	display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    flex-direction:row;
	    flex-wrap:nowrap;
	    justify-content:space-around;
	    align-items:center;
	    li{
	    	flex: none;
	    	height: .98rem;
	    	a{
	    		@include inlineBlock(top);
	    		font-size: .32rem;
	    		height: .98rem;
	    		line-height: .94rem;
	    		color: #fff;
	    		border-bottom: .04rem solid transparent;
	    		padding:0 .1rem;
	    	}
	    }
	    li.active{
	    	a{
	    		border-bottom: .04rem solid #fff;
	    	}
	    }
    }
}
.mine_name{
		width: 100%;
		background: #fff;
		padding:.45rem .2rem;
		width: 100%;
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    flex-direction:row;
	    flex-wrap:nowrap;
	    justify-content:space-between;
	    align-items:center;
	
	.pic_name,.right_point{
		flex: none;
	}
	.pic_name{
		font-size: 0;
		.pic,.name{
			@include inlineBlock(middle);
		}
		.pic{
          width: 1.76rem;
          height: 1.76rem;
          margin-right: .3rem;
          img{
          	@include inlineBlock(top);
          	width: 1.76rem;
          	height: 1.76rem;
          	border-radius: 50%;
          }
		}
		.name{
			h3{
				font-size: .4rem;
				color: #333;
			}
			p{
                font-size: .3rem;
                color: #999;
                padding-top: .2rem;
			}
		}
	}
	.right_point{
		width: .4rem;
		text-align: center;
		i{
			font-size: .35rem;
			color: #aaa;
		}
	}
}
.mine_infos{
	width: 100%;
	background: #fff;
	padding-left: .2rem;
	margin-top: .2rem;
	li{
		width: 100%;
		a{
			display: block;
			width: 100%;
			padding:.55rem .2rem .55rem 0;
			border-bottom: .01rem solid #f0f0f0;
			display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    flex-direction:row;
		    flex-wrap:nowrap;
		    justify-content:space-between;
		    align-items:center;
		}
	}
	li:last-of-type{
		a{
		   border-bottom: 0;
		}
	}
    .label{
       font-size: .3rem;
       color: #333;
       i{
	       	@include inlineBlock(middle);
	       	font-size: .35rem;
	       	color: #74bde5;
	       	margin-right: .2rem;
       }

    }
    .value{
    	font-size: .3rem;
    	color: #999;
    	i{
	       	@include inlineBlock(middle);
	       	font-size: .3rem;
	       	color: #aaa;
	       	margin-left: .13rem;
       }
    }
}

.info_pic{
	width: 100%;
	background: #fff;
	padding:.45rem .2rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:space-between;
	align-items:center;
	.name,.pic{
		display: block;
		flex: none;
	}
	.name{
		font-size: .45rem;
		font-weight: 400;
		color: #333;
	}
	.pic{
		white-space: nowrap;
		font-size: 0;
        img,span{
			display: inline-block;
			vertical-align: middle;
		}
		img{
            width: 1.76rem;
			height: 1.76rem;
			border-radius: 50%;
		}
		span{
			width: .4rem;
			text-align: right;
			font-size: .3rem;
			color: #999;
		}
	}
}
.info_list{
	width: 100%;
	background: #fff;
	padding-left: .2rem;
	margin-top: .2rem;
	li{
		width: 100%;
		padding:.6rem .2rem .6rem 0;
		border-bottom: .01rem solid #f0f0f0;
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    flex-direction:row;
	    flex-wrap:nowrap;
	    justify-content:space-between;
	    align-items:center;
	    .label{
             font-size: .3rem;
             color: #333;
	    }
	    .value{
             font-size: .3rem;
             color: #999;
	    }
	}
}
.wallet_top{
	width: 100%;
	background: #fff;
	padding: .7rem .2rem;
	.wallet_money,.wallet_notice{
		width: 100%;
		text-align: center;
		font-weight: bold;
		margin-bottom: 0;
	}
	.wallet_money{
		font-size: .48rem;
		color: #333;
	}
	.wallet_notice{
        font-size: .3rem;
        color: #e48687;
        padding-top: .1rem;
	}
}
.btm_info{
	width: 100%;
	background: #fff;
}
.select_year_bar{
	width: 100%;
	height: .95rem;
	background: #ccc;
	text-align: center;
	input,i,span{
		@include inlineBlock(middle);
	}
	input{
	    width: .9rem;
	    max-width: -webkit-calc(100% - .5rem);
	    max-width: -moz-calc(100% - .5rem);
	    max-width: -ms-calc(100% - .5rem);
	    max-width: -o-calc(100% - .5rem);
	    max-width: calc(100% - .5rem);
	    overflow-x: visible;
	    overflow-y: visible;
	    line-height: .95rem;
	    text-align: right;
	    background: transparent;
	    border: 0;
	    font-size: .32rem;
        height: .95rem;
        color: #fff;
	}
	span{
	     font-size: .32rem;
	     color: #fff;
	}
	i{
        width: .4rem;
	    height: .95rem;
	    line-height: .95rem;
	    font-size: .3rem;
	    color: #fff;
	}
}
.monthValue_list{
	width: 100%;
	padding-left: .2rem;
	li{
		width: 100%;
		
	    a{
	    	width: 100%;
	    	display: block;
	    	padding: .6rem .2rem .6rem 0;
			border-bottom: .01rem solid #f0f0f0;
			display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    flex-direction:row;
		    flex-wrap:nowrap;
		    justify-content:space-between;
		    align-items:center;
	    }
	    .label,.value{
	    	font-size: .3rem;
	    	color: #333;
	    }
	    .label{
	    	span.confirm{
                font-size: .28rem;
                color: #333;
	    	}
	    	span.noConfirm{
               font-size: .28rem;
               color: #f00;
	    	}
	    }
	    .value{
	    	i{
	    		font-size: .3rem;
	    		color: #aaa;
	    		margin-left: .05rem;
	    	}
	    }
	}
	li:last-of-type{
		a{
			border-bottom: 0;
		}
	}
}

.payroll_month,.payroll_money{
	width: 100%;
	height: .98rem;
	background: #0093dd;
	line-height: .98rem;
	text-align: center;
	font-size: .32rem;
	color: #fff;
}
.payroll_total{
	width: 100%;
	font-size: 0;
	background: #fff;
	div{
		@include inlineBlock(top);
		width: 50%;
		padding:1.05rem .3rem;
		text-align: center;
		font-size: .4rem;
		color: #333;
	}
	div:first-of-type{
		border-right: .01rem solid #f0f0f0;
	}
}
.payroll_list,.payroll_detail_list{
	width: 100%;
	background: #fff;
	padding-left: .2rem;
	li{
		width: 100%;
		a{
			display: block;
	    	padding: .5rem .2rem .5rem 0;
			border-bottom: .01rem solid #f0f0f0;
			display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    flex-direction:row;
		    flex-wrap:nowrap;
		    justify-content:space-between;
		    align-items:center;
		}
		div:first-of-type{
            font-size: .3rem;
            color: #333;
		}
		div:nth-of-type(2){
            font-size: .3rem;
            color: #999;
            i{
            	display: inline-block;
            	width: .4rem;
            	text-align: center;
            	font-size: .3rem;
            	color: #999;
            }
		}
	}
	li:last-of-type{
		a{
			border-bottom: 0;
		}
	}
}
.asidemenu.ope{
	color: #76bf55;
}


.set_main{
   width: 100%;
   background: #fff;
   padding: .35rem .2rem;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   .label,.point_icon{
   	   display:block;
   	   font-size: .3rem;
   }
   .label{
   	color: #333;
   }
   .point_icon{
   	color: #999;
   }
}
.lg_out{
	width: 100%;
	background: #fff;
	margin-top: .2rem;
	padding:.35rem 0;
	text-align: center;
	font-size: .3rem;
	color: #333;
	border:0;
}
.setPwd_main{
	width: 100%;
	background: #fff;
}
.setPwd_list{
	padding-left: .2rem;
	li{
		    display: block;
		    width: 100%;
		    padding: .35rem 1.3rem .35rem 0;
		    border-bottom: .01rem solid #f0f0f0;
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-items: center;
		    position: relative;
		    .comm_label,.comm_input,p.default_account{
		    	flex: none;
		    }
		    .comm_label{
                 width: 1.5rem;
                 font-size: .3rem;
                 color: #333;
		    }
		    .comm_input{
                 width: -webkit-calc(100% - 1.3rem);
                 width: -moz-calc(100% - 1.3rem);
                 width: -ms-calc(100% - 1.3rem);
                 width: -o-calc(100% - 1.3rem);
                 width: calc(100% - 1.3rem);
                 font-size: .3rem;
                 color: #999;
                 padding:0 .2rem 0 0;
                 line-height: 1.5;
                 border: 0;
                 margin-bottom: 0;
                 height: auto;
                 border-radius: 0;
		    }
		    p.default_account{
                 width: -webkit-calc(100% - 1.3rem);
                 width: -moz-calc(100% - 1.3rem);
                 width: -ms-calc(100% - 1.3rem);
                 width: -o-calc(100% - 1.3rem);
                 width: calc(100% - 1.3rem);
                 font-size: .3rem;
                 color: #999;
                 padding-right: .2rem;
                 line-height: 1.5;
                 margin-bottom: 0;
		    }
		    .edite_icon{
		    	display: block;
		    	width: 1.3rem;
		    	position: absolute;
		    	right: 0;
		    	top: .35rem;
		    	font-size: 0;
		    	text-align: right;
		    	padding-right: .1rem;
		    	.change_icon,.del_icon{
                    display: none;
                    width: .6rem;
                    text-align: center;
                    i{
                    	font-size: .3rem;
                    	color: #ccc;
                    }
		    	}
		    }
		    .edite_icon.focus{
		    	.change_icon,.del_icon{
		    		display: inline-block;
                    vertical-align: middle;
		    	}
		    }
	}
	li:last-of-type{
		border-bottom: 0;
	}
}
.setPwd_notice{
	width: 100%;
	text-align: left;
	padding-left: .2rem;
	font-size: .26rem;
	color: #999;
	line-height: 1.5;
	padding-top: .1rem;
}
 .comfirm_wrap {
 	width: 100%;
 	padding:0 .5rem .4rem;
 	position: fixed;
 	bottom: 0;
 	left: 0;
 	display: none;
 	button{
 		width: 100%;
	    height: .98rem;
	    border-radius: .5rem;
	    line-height: .98rem;
	    text-align: center;
	    background: #0093dd;
	    font-size: .36rem;
	    color: #fff;
	    outline: none;
	    padding: 0;
 	}
 }


 .lead_line{
 	width: 100%;
 	font-size: 0;
 	span{
 		width: 33.333333%;
 		display: inline-block;
 		vertical-align: top;
 		font-size: .30rem;
 	    color:#333;
 	    font-weight: 400;
 	    line-height: .6rem;
 	    height: .6rem;
 	    text-align: center;
 	}
 	span:first-of-type em{
 		color: #0093dd;
 	}
 }
 .table_unit{
 	width: 100%;
 	table-layout: fixed;
 	border-collapse: collapse;
 	background: #fff;
 	.col01{
      width: 19%;
 	}
 	.col02{
      width: 27%;
 	}
 	thead tr th,tbody.unit_tbody tr td{
 		line-height: 1.5;
 		vertical-align: middle;
 	}
 	thead tr th{
            text-align: center;
	        border:.01rem solid #f0f0f0;
	        font-size: .28rem;
	        color: #333;
	        font-weight: normal;
	        div:first-of-type{
	           width:100%;
               border-bottom:.01rem solid #f0f0f0;
               padding: .05rem;
	        };
	        div:nth-of-type(2){
	           width: 100%;
               font-size: 0;
               span{
               	    width: 50%;
               	    padding: .05rem;
               	    display: inline-block;
               	    vertical-align: top;
               	    font-size: .26rem;
	                color: #333;
	                text-align: center;
               }
	        };
 	}
 	tbody.unit_tbody tr td{
 		    text-align: center;
	        border:.01rem solid #f0f0f0;
	        font-size: .28rem;
	        color: #333;
	        font-weight: normal;
	        height: .45rem;
	        div:first-of-type{
               width:100%;
               border-bottom:.01rem solid #f0f0f0;
               font-size: 0;
               min-height: .45rem;
               span{
               	    width: 50%;
               	    display: inline-block;
               	    vertical-align: top;
               	    font-size: .28rem;
	                color: #868686;
	                text-align: center;
	                padding:.05rem;
               }
	        }
	        div:nth-of-type(2){
	        	min-height: .45rem;
                width: 100%;
                color: #fe3837;
                padding:.05rem;
             }
 	}
 	tbody.unit_tbody tr:last-of-type td:last-of-type{
 		color: #fe3837;
 	}
 }
 .type_table{
 	 width: 100%;
 	 background: #fff;
 	 margin-top: .2rem;
 	 thead tr th,tbody tr td{
 	 	border:.01rem solid #f0f0f0;
 	 	padding: .05rem;
 	 	line-height: 1.5;
 	 	text-align: center;
 	 	font-size: .26rem;
 	 	color:#868686;
 	 	font-weight: normal;
 	 	height: .45rem;
 	 }
 	 thead tr th,tbody tr td:first-of-type{
 	 	color: #333;
 	 }
 }
 .item_total{
 	width: 100%;
 	padding: .2rem .2rem;
 	background: #fff;
 	margin-top:.2rem;
 	p{
 		width: 100%;
 		margin-bottom: 0;
 		font-size: .26rem;
 		color: #333;
 		text-align: right;
 		em{
 			color: #f00;
 			font-size: .5rem;
 		}
 	}
 }
.carNum{
	width: 100%;
	padding: 0 .2rem;
	p{
		width: 100%;
		text-align: left;
		font-size: .3rem;
		color: #333;
		height: .6rem;
		line-height: .6rem;
		margin-bottom: 0;
		em{
			color: #0093dd;
		}
	}
}
.save_oil_table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	background: #fff;
	.col01{
      width: 24%;
	}
	.col02{
      width: 37%;
	}
	thead tr th,tbody tr td{
		border:.01rem solid #f0f0f0;
		text-align: center;
		padding: .05rem;
		font-size: .26rem;
		color: #868686;
		line-height: 1.5;
		height: .45rem;
	}
	tbody tr td.align_right{
		text-align: right;
		color: #f00;
		padding-right: 1rem;
	}
	tbody tr td.align_left{
		text-align: left;
		color: #868686;
		padding-left: 1rem;
	}
	thead tr th,tbody tr td:first-of-type{
		color: #333;
	}
	tbody tr td:nth-of-type(3){
        color: #f00;
	}
}
.payroll_list_wrap{
	width: 100%;
	position: relative;
	.statusIcon{
        display: block;
		width: 1.6rem;
        height: 1.4rem;
        position: absolute;
        bottom: -2rem;
        left: 50%;
        -webkit-transform: translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        transform: translate(-50%,0);
	}
	.statusIcon01{
		
		 background: url(../images/noConfirm.png) no-repeat left top;

         background-size: contain;
	}
	.statusIcon02{

		background: url(../images/comfirm.png) no-repeat left top;

		background-size: contain;
	}
}