<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="Cache-Control" content="no-siteapp" /><!--禁止百度转码-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置状态栏的背景颜色，启用webapp模式时生效 -->
	<meta name="format-detection" content="telephone=no" /><!-- 禁止数字识别为电话号码 -->
	<title></title>
    <script type="text/javascript" src="../../js/remAdaptation.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/leave.css">
	
</head>
<body>
	<header class="commonHeader">
        <div class="common_top">
            <div class="toBack">
                <a href="javascript:history.go(-1)">
                  <i class="iconfont icon-fanhui"></i>返回
                </a>  
            </div>
            <div class="tit">基本借款</div>
            <div class="asidemenu"><i class="iconfont icon-fangzi"></i></div>
        </div>
    </header>
    <section class="leave_wrap pb148 whitebg">
        <div class="top_tab">
                    <ul>
                        <li class="active"><a href="javascript:;">借款信息</a></li> 
                        <li><a href="javascript:;">借款记录</a></li>      
                    </ul>
        </div>
        <div class="content_panel" style="display: block;">
                <div class="infos">
                		<div class="infos_list">
                           <div class="item">
                                <div class="label">所属公司</div>
                                <div class="info_item companyName"></div>
                            </div>
                            <div class="item">
                                <div class="label">所属部门</div>
                                <div class="info_item deptName"></div>
                            </div>
                            <div class="item">
                                <div class="label">所属职位</div>
                                <div class="info_item positionName"></div>
                            </div>
                            <div class="item">
                                <div class="label">借款人姓名</div>
                                <div class="info_item people"></div>
                            </div>
                            <div class="item">
                                <div class="label">借款金额</div>
                                <div class="info_item overSpeedMark">
                                   <input id="money" type="number" placeholder="请输入" class="leaveMark"></input>
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">打入卡号</div>
                                <div class="info_item overSpeedMark">
                                   <input type="number" placeholder="请输入" class="leaveMark" id="turnToNumber"></input>
                                </div>
                            </div> 
                            <div class="item">
                                <div class="label">打入姓名</div>
                                <div class="info_item overSpeedMark">
                                   <input type="text" placeholder="请输入" class="leaveMark" id="turnToName"></input>
                                </div>
                            </div>      
                            <div class="item">
                                <div class="label">借款事由</div>
                                <div class="info_item overSpeedMark">
                                    <input id="reason" type="text" placeholder="请输入" class="leaveMark"></input>
                                </div>
                            </div>  
                            <div class="item beizhu">
                                <div class="label">备注</div>
                                <div class="info_item overSpeedMark leaveMark_wrap">
                                    <textarea id="memo" type="text" placeholder="请输入" class="leaveMark"></textarea>
                                </div>
                            </div>
                		</div>
                	</div>
                    <div class="addpics">
                        <div class="addpics_tit">
                            <h3>添加图片</h3>
                            <span><em>0</em>/9</span>
                        </div>
                        <ul class="addpics_list" id="fileList">
                            <li class="last" id="last">
                               <div class="pic">
                                    <input type="file" id="upImgInput" name="image" accept="image/*" capture="camera" multiple class="upImgInput">
                                    
                                        <span class="addIcon iconfont icon-add"></span>
                                </div>
                            </li>
                        </ul>
                        <div class="upAttach_area">
                            <div id="upAttacnBtn_wrap">
                                上传附件
                                <input type="file" accept=".csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,text/plain,text/html,.pdf" />
                            </div>
                            <ul id="upAttacnList">
                                <!--<li>
                                    <p>某某文件</p>
                                    <a href="javascript:;">删除</a>
                                </li>-->
                            </ul>
                        </div>
                        <div class="submit_wrap">
                            <button type="submit" class="submit_btn" id="licenseSubmit">提交</button>
                        </div>
                    </div>
                    <div class="pt2">
                        <div class="submit_wrap">
                            <button type="submit" class="submit_btn" id="leaveSubmit">提交</button>
                        </div>
                    </div>
        </div>
        <div class="content_panel">
            <ul class="basicLoan_record" id="basicLoan_record">
                
            </ul>
        </div>         
    </section>
     <div id="loading">
              <span class="loading_icon"></span>
           </div>
    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/lib/require.js" data-main="../../js/basicLoan/basicLoan"></script>
    <!--<script type="text/javascript" src="../../js/widget/mui.min.js"></script>
    <script type="text/javascript" src="../../js/widget/picker.min.js"></script>-->

</body>
</html>