<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="Cache-Control" content="no-siteapp" /><!--禁止百度转码-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置状态栏的背景颜色，启用webapp模式时生效 -->
	<meta name="format-detection" content="telephone=no" /><!-- 禁止数字识别为电话号码 -->
	<title></title>
    <script type="text/javascript" src="../../js/remAdaptation.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/mine.css">
</head>
<body>
	<header class="commonHeader">
        <div class="common_top">
            <div class="toBack">
                <a href="javascript:history.go(-1)">
                    <i class="iconfont icon-fanhui"></i>返回
                </a>
            </div>
            <div class="tit">工资单</div>
            <div class="asidemenu"><i class="iconfont icon-fangzi"></i></div>
        </div>
    </header>
    <section class="mine_wrap02">
    	<div class="payroll_month"><span></span>月工资：<em></em></div>
        <div class="payroll_list_wrap"> 
            	<ul class="payroll_list">
            		<li class="basicPay">
            			<a href="#">
        	    			<div>基本工资</div>
        	    			<div class="basicValue"><em></em><i class="iconfont icon-arrow-right"></i></div>
            		    </a>
            		</li>
            		<li class="performanceDetail">
            			<a href="#">
        	    			<div>绩效工资</div>
        	    			<div class="performanceValue"><em></em><i class="iconfont icon-arrow-right"></i></div>
            		    </a>
            		</li>
            		<li class="saveOil">
            			<a href="#">
        	    			<div>节油工资</div>
        	    			<div class="saveOilValue"><em></em><i class="iconfont icon-arrow-right"></i></div>
            		    </a>
            		</li>
                    <li class="otherDetail">
                        <a href="">
                            <div>其他</div>
                            <div class="otherValue"><em></em><i class="iconfont icon-arrow-right"></i></div>
                        </a>
                    </li>
                </ul>
                <div class="statusIcon"></div>
        </div>         
        <div class="comfirm_wrap"><button type="button">确认工资</button></div>
    </section>
<script type="text/javascript" src="../../js/widget/mui.min.js"></script>
<script  type="text/javascript" src="../../js/lib/require.js" data-main="../../js/mine/monthPay"></script>

</body>
</html>