<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="Cache-Control" content="no-siteapp" /><!--禁止百度转码-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置状态栏的背景颜色，启用webapp模式时生效 -->
	<meta name="format-detection" content="telephone=no" /><!-- 禁止数字识别为电话号码 -->
	<title></title>
    <script type="text/javascript" src="../../js/remAdaptation.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/mine.css">
</head>
<body>
	<header class="commonHeader">
        <div class="common_top">
            <div class="toBack">
                <a href="javascript:history.go(-1)">
                  <i class="iconfont icon-fanhui"></i>返回
                </a>  
            </div>
            <div class="tit">工资单</div>
            <div class="asidemenu"><i class="iconfont icon-fangzi"></i></div>
        </div>
    </header>
    <section class="mine_wrap02">
    	<div class="payroll_money performance_money">绩效工资：<em></em></div>
        <div id="performanceList"></div>
       <!-- <div class="lead_line">
            <span>车号：<em>501</em></span>
            <span>方量:1000m³</span>
            <span>趟次：100车</span>
        </div>
        <table cellpadding="0" cellspacing="0" class="table_unit">
            <colgroup>
                <col class="col01"></col>
                <col class="col02" span="3"></col>
            </colgroup>
            <thead>
                <tr>
                   <th></th>
                   <th>
                       <div>混凝土</div>
                       <div>
                           <span>方量</span>
                           <span>趟次</span>
                       </div>
                   </th>
                   <th>
                       <div>砂浆</div>
                       <div>
                           <span>方量</span>
                           <span>趟次</span>
                       </div>
                   </th>
                   <th>
                       <div>拖水</div>
                       <div>
                           <span>方量</span>
                           <span>趟次</span>
                       </div>
                   </th>
                </tr>
            </thead>
            <tbody class="unit_tbody">
                <tr>
                    <td>0-5km</td>
                    <td>
                            <div>
                                <span>200</span>
                                <span>10</span>
                            </div>
                            <div>￥250</div>
                    </td>
                    <td>
                            <div>
                                <span>10</span>
                                <span>10</span>
                            </div>
                            <div>￥250</div>
                    </td>
                    <td>
                            <div>
                                <span>\</span>
                                <span>2</span>
                            </div>
                            <div>￥50</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" class="type_table">
            <thead>
                <tr>
                    <th></th>
                    <th>方量</th>
                    <th>趟次</th>
                    <th>金额</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>塔吊</td>
                    <td>100</td>
                    <td>10</td>
                    <td>￥250</td>
                </tr>
                <tr>
                    <td>转运</td>
                    <td>100</td>
                    <td>10</td>
                    <td>￥250</td>
                </tr>
                <tr>
                    <td>多土</td>
                    <td>4</td>
                    <td>2</td>
                    <td>￥20</td>
                </tr>
                <tr>
                    <td>退土</td>
                    <td>24</td>
                    <td>2</td>
                    <td>￥50</td>
                </tr>
                <tr>
                    <td>超时</td>
                    <td colspan="2">5h</td>
                    <td>￥50</td>
                </tr>
            </tbody>
        </table>
        <div class="item_total">
            <p>绩效小计：<em>￥5000</em></p>
        </div>-->

    </section>
<script type="text/javascript" src="../../js/lib/require.js" data-main="../../js/mine/performanceDetail"></script>
</body>
</html>