<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="Cache-Control" content="no-siteapp" /><!--禁止百度转码-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置状态栏的背景颜色，启用webapp模式时生效 -->
	<meta name="format-detection" content="telephone=no" /><!-- 禁止数字识别为电话号码 -->
	<title></title>
    <script type="text/javascript" src="../../js/remAdaptation.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/mine.css">
</head>
<body>
	<header class="commonHeader">
        <div class="common_top">
            <div class="toBack">
                <a href="javascript:history.go(-1)">
                    <i class="iconfont icon-fanhui"></i>返回
                </a>
            </div>
            <div class="tit">工资单</div>
            <div class="asidemenu"><i class="iconfont icon-fangzi"></i></div>
        </div>
    </header>
    <section class="mine_wrap02">
    	<div class="payroll_month">绩效工资：<em>2000</em></div>
    	<ul class="payroll_list">
    		<li>
    			<a href="javascript:;">
	    			<div>混凝土</div>
	    			<div>7374.0</div>
    		    </a>
    		</li>
    		<li>
    			<a href="javascript:;">
	    			<div>砂浆</div>
	    			<div>345.88</div>
    		    </a>
    		</li>
    		<li>
    			<a href="javascript:;">
	    			<div>水</div>
	    			<div>7028.12</div>
    		    </a>
    		</li>
            <li>
                <a href="javascript:;">
                    <div>塔吊</div>
                    <div>7028.12</div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div>转运</div>
                    <div>7028.12</div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div>超时</div>
                    <div>7028.12</div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div>多土</div>
                    <div>7028.12</div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div>退土</div>
                    <div>7028.12</div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div>外调</div>
                    <div>7028.12</div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <div>公里档补助</div>
                    <div>7028.12</div>
                </a>
            </li>
    	</ul>
    </section>
<script  type="text/javascript" src="../../js/lib/require.js" data-main="../../js/mine/performancePay"></script>
</body>
</html>