<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="Cache-Control" content="no-siteapp" /><!--禁止百度转码-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置状态栏的背景颜色，启用webapp模式时生效 -->
	<meta name="format-detection" content="telephone=no" /><!-- 禁止数字识别为电话号码 -->
	<title></title>
    <script type="text/javascript" src="../../js/remAdaptation.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/data.css">
</head>
<body>
	<header class="commonHeader">
        <div class="common_top">
            <div class="toBack">
                <a href="javascript:history.go(-1)">
                  <i class="iconfont icon-fanhui"></i>返回
                </a>
            </div>
            <div class="tit">数据</div>
            <div class="asidemenu"><i class="iconfont icon-fangzi"></i></div>
        </div>
    </header>
    <section class="data_wrap building_wrap">
    	<div class="building_cont">
           <div class="pic"><img src="../../images/building.png" alt="" title=""></div>  
           <p class="intro">正在建设中......</p> 
        </div>
    </section>
</body>
<script type="text/javascript" src="../../js/lib/require.js" data-main="../../js/data/building"></script>


</html>