<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="Cache-Control" content="no-siteapp" /><!--禁止百度转码-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置状态栏的背景颜色，启用webapp模式时生效 -->
	<meta name="format-detection" content="telephone=no" /><!-- 禁止数字识别为电话号码 -->
	<title></title>
    <script type="text/javascript" src="../../js/remAdaptation.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/data.css">
</head>
<body>
    <header class="commonHeader">
        <div class="common_top">
            <div class="toBack">
                <a href="javascript:history.go(-1)">
                   <i class="iconfont icon-fanhui"></i>返回
                </a>
            </div>
            <div class="tit">可抢订单</div>
            <div class="asidemenu"><i class="iconfont icon-fangzi"></i></div>
        </div>
    </header>
    <section class="data_wrap02">
        <ul class="robOrder">
            <li>
                <h3 class="robOrder_tit">武汉市汉阳区龙阳大道站点</h3>
                <div class="robOrder_info">
                    <div>
                        <p>需求方量：50m³</p>
                        <p>需求车型：砼车</p>
                        <p>运输距离：10公里以内</p>
                        <p>用车时间：03-05 3:00</p>
                    </div>
                    <div>
                        <p>单价：60元/m³</p>
                        <a href="#" class="dispatch">派单</a>
                    </div>
                </div>
            </li>
            <li>
                <h3 class="robOrder_tit">武汉市汉阳区龙阳大道站点</h3>
                <div class="robOrder_info">
                    <div>
                        <p>需求方量：50m³</p>
                        <p>需求车型：砼车</p>
                        <p>运输距离：10公里以内</p>
                        <p>用车时间：03-05 3:00</p>
                    </div>
                    <div>
                        <p>单价：60元/m³</p>
                        <a href="#" class="dispatch">派单</a>
                    </div>
                </div>
            </li>
        </ul> 
    </section>
</body>
</html>