<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="Cache-Control" content="no-siteapp" /><!--禁止百度转码-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置状态栏的背景颜色，启用webapp模式时生效 -->
	<meta name="format-detection" content="telephone=no" /><!-- 禁止数字识别为电话号码 -->
	<title></title>
    <script type="text/javascript" src="../../js/remAdaptation.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/data.css">
</head>
<body>
    <header class="commonHeader">
        <div class="common_top">
            <div class="toBack">
                <a href="javascript:history.go(-1)">
                  <i class="iconfont icon-fanhui"></i>返回
                </a>  
            </div>
            <div class="tit">订单信息</div>
            <div class="asidemenu"><i class="iconfont icon-fangzi"></i></div>
        </div>
    </header>
    <section class="data_wrap02">
        <div class="order_detail_wrap">
            <ul class="order_detail">
                <li>
                   <div class="label">发单人</div>
                   <div class="value">龙阳大道站点</div>
                </li>
                <li>
                   <div class="label">站点地址</div>
                   <div class="value">龙阳大道龙阳村一号路</div>
                </li>
                <li>
                   <div class="label">需求方量</div>
                   <div class="value">50方</div>
                </li>
                <li>
                   <div class="label">价格</div>
                   <div class="value">60元/m³</div>
                </li>
                <li>
                   <div class="label">需求车型</div>
                   <div class="value">砼车</div>
                </li>
                <li>
                   <div class="label">运输距离</div>
                   <div class="value">10公里以内</div>
                </li>
                <li>
                   <div class="label">用车时间</div>
                   <div class="value">03-05&nbsp;8:00</div>
                </li>
                <li>
                   <div class="label">备注</div>
                   <div class="value">无</div>
                </li>
            </ul>
            <div class="dispatch"><a href="#">派单</a></div> 
            <div class="dispatch_layer">派单成功</div>
        </div>
    </section>
    <script  type="text/javascript" src="../../js/lib/require.js" data-main="../../js/data"></script>
</body>
</html>