<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
    <meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp" /><!--禁止百度转码-->
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 设置状态栏的背景颜色，启用webapp模式时生效 -->
	<meta name="format-detection" content="telephone=no" /><!-- 禁止数字识别为电话号码 -->
	<title></title>
    <script type="text/javascript" src="../../js/remAdaptation.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/attendanceView.css">
</head>
<body>
    <header class="commonHeader">
        <div class="common_top">
            <div class="toBack">
                <a href="javascript:history.go(-1)">
                  <i class="iconfont icon-fanhui"></i>返回
                </a>
            </div>
            <div class="tit">考勤监控</div>
            <div class="asidemenu"><i class="iconfont icon-fangzi"></i></div>
        </div>
    </header>
    <section class="attendance_wrap">
        <!--<div></div>-->
        <div class="team_time">
            <div class="team"><i class="iconfont icon-cheduiguanli"></i><em></em></div>
            <div class="time"><i class="iconfont icon-shijian-copy-copy"></i><em></em></div>
        </div>
        <ul class="attendanceView_tab">
            <li class="active"><a href="javascript:;">已打卡</a></li>
            <li><a href="javascript:;">未打卡</a></li>
        </ul>
        <div class="content_panel" style="display: block;">
            <table cellpadding="0" cellspacing="0" class="normal_table">
                <colgroup>
                    <col span="2" style="width: 21%;">
                    <col style="width: 28%;">
                    <col style="width: 30%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>车号</th>
                        <th>姓名</th>
                        <th>驻班状态</th>
                        <th>打卡状态</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="content_panel">
            <table cellpadding="0" cellspacing="0" class="absence_table">
                 <colgroup>
                    <col span="2" style="width: 21%;">
                    <col style="width: 28%;">
                    <col style="width: 30%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>车号</th>
                        <th>姓名</th>
                        <th>驻班状态</th>
                        <th>打卡状态</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
    <div id="loading">
        <span class="loading_icon"></span>
    </div>        
   <script  type="text/javascript" src="../../js/lib/require.js" data-main="../../js/attendanceView/index"></script>
   


</body>
</html>
